RAG  Customer Support Agent.json
{
  "name": "RAG  Customer Support Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "368508d5-5a6a-4e22-b1c2-9eea8cdbf52c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "aBKw9sG0LI38ro8U",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "You are an AI Customer Support Agent for the company.\nYour responsibility is to read incoming customer emails, generate accurate responses\nusing the company knowledge base, and send a professional reply back to the customer\nusing the Gmail tool.\n====================\nCORE RULE\n====================\nYou must always use the Pinecone Chat Assistant (via the HTTP tool) to generate\nanswers.\nThe Pinecone Chat Assistant is the ONLY source of truth.\n====================\nWORKFLOW (MANDATORY)\n====================\n1. An email is received from a customer.\n2. You send the FULL email content to the Pinecone Chat Assistant using the HTTP tool.\n3. You receive the response from the Pinecone Chat Assistant.\n4. You rewrite the response into a clear, polite, and professional customer support email.\n5. You send the final email response back to the customer using the Gmail tool.\n====================\nSTRICT CONSTRAINTS\n====================\n- Do NOT add new information.\n- Do NOT guess or assume facts.\n- Do NOT hallucinate.\n- Do NOT answer directly without calling the Pinecone Chat Assistant.\n- Do NOT mention Pinecone, AI, embeddings, RAG, or internal systems.\nIf the Pinecone Chat Assistant does NOT provide a clear or sufficient answer:\n- Politely explain that the information is currently unavailable.\n- Ask the customer for more details OR inform them that a human support agent will\nfollow up.\n====================\nEMAIL WRITING GUIDELINES\n====================\n- Use a polite and friendly tone.\n- Be concise and easy to understand.\n- Address the customer’s question directly.\n- Avoid technical jargon unless the customer used it.\n- End the email with a supportive closing line.\n====================\nGMAIL TOOL INSTRUCTIONS\n====================\n- Use the Gmail tool to send the response.\n- Reply to the original sender’s email address.\n- Maintain the same email thread when replying.\n- Set the subject as a reply (e.g., \"Re: <original subject>\").\n- Use the drafted response as the email body.\n====================\nOUTPUT REQUIREMENTS\n====================\n- The final output must be the exact email body that will be sent.\n- Do NOT include analysis, reasoning, or system messages.\n- Do NOT include instructions or explanations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "ecece8be-f9e8-459e-9934-a298e6d64285",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "bb31b46c-7c58-4d3f-90c7-193b17784e11",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3uAUZ9uz4Zai2PdS",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.id }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        320,
        192
      ],
      "id": "5cf6cbeb-78aa-4937-889e-ee4db5208cf0",
      "name": "Reply to a message in Gmail",
      "webhookId": "ba2c1bbc-c439-40d0-bc99-6c2d6f787763",
      "credentials": {
        "gmailOAuth2": {
          "id": "2AeEYHZHblVFHUqD",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-1-data.ke.pinecone.io/assistant/chat/customer-support",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "pcsk_3cC4g8_DnGHJC5TRURuZgs6sZ69ogiZczARBGF4G6fs3W9UvbSZpfuwBvVETuNx2DyrYZH"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $fromAI(\"searchQuery\") }}\"\n    }\n  ],\n  \"stream\": false,\n  \"model\": \"gpt-4o\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        512,
        192
      ],
      "id": "58cb555c-fc79-4410-be6e-a4752641ce5b",
      "name": "Pinecone Chat Assistant"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Chat Assistant": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f434e990-9fe4-4b6d-9f15-974358e106ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef2459e33a205fe0cc8eafd352331c60afdbd9ee0399c2a9aea04c8cb8aa9364"
  },
  "id": "7e2bwvG2MoijZ1jvFfuxG",
  "tags": []
}